@model IEnumerable<Event_Hub.Models.Club>
@{
    ViewData["Title"] = "Clubs";
    <a class="btn btn-outline-primary" href="/Clubs/Register">Register Club</a>
}

<h2 align="center">Club locations</h2>

@foreach (var Club in Model)
{
    <table class="table table-bordered table-sm table-hover" style="width: 50%; margin: 2rem auto;">
        <tbody>
                    <tr align="center" style="background-color: lightgray;">
                        <th scope="row" colspan="2"><h3>@Club.Name</h3></th>
                    </tr>
                    <tr>
                        <th scope="row">Street: <td align="center">@Club.Street</td></th>
                    </tr>
                    <tr>
                        <th scope="row">n°: <td align="center">@Club.Number</td></th>
                    </tr>
                    <tr>
                        <th scope="row">Cep: <td align="center">@Club.ZipCode</td></th>
                    </tr>
                    <tr>
                        <th scope="row">City: <td align="center">@Club.City</td></th>
                    </tr>
                    <tr>
                        <th scope="row">Capacity: <td align="center">@Club.MaximumCapacity <i>people<i></td></th>
                    </tr>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <tr align="center">
                            <th colspan="2">
                            <a asp-action="Edit" asp-route-id="@Club.Id" class="btn btn btn-outline-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@Club.Id" class="btn btn-outline-danger">Delete</a>
                            </th>
                        </tr>
                    }
        </tbody>
    </table>
}